/* NOTES
font-family: "Playwrite AU NSW", serif;
*/

/* || FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+NSW:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+NSW:wght@100..400&display=swap');

/* || WEBSITE SETTINGS */ 
* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

/* || WEBSITE COLORS */
:root {
    --backgroundColor: rgb(0, 0, 0);
    --loginTitle: rgb(255, 0, 255);
    --loginTitleShadow: rgb(193, 25, 193);
    --loginBackground: rgb(0, 0, 0);
    --loginBlock: rgb(18, 18, 18);
    --blockBorder: hsl(0, 0%, 23%);
    --slide1Bck: rgb(21, 21, 21);
    --slide3Bck: black;
    --fancyFont: "Playwrite AU NSW", serif;
}

/* || BACKGROUND PAGE */
#backgroundPage {
    background-color: var(--backgroundColor);
    background-image: url("./assets/images/backgrounds/heartRenderNonBlur.png");
    background-size: 120vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* || LOGIN SECTION */
#loginSection {
    width: 100vw;
    height: 100vh;
    background-color: var(--loginBackground);
    background-image: url("assets/images/materials/dark-mosaic.png");
    display: block;
}

.login_title {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_sideTitle {
    color: white;
    font-family: var(--fancyFont);
    text-shadow: 0 0 10px var(--loginTitleShadow);
    font-size: .7em;
    text-align: center;
    padding: 3vh 0;
}

.login_title h1 {
    color: var(--loginTitle);
    font-family: var(--fancyFont);
    text-shadow: 0 0 10px var(--loginTitleShadow);
    font-size: 3em;
    text-align: center;
    padding: 3vh 0;
}

.login_inputs {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.login_block {
    width: 90vw;
    height: 55vh;
    background-color: var(--loginBlock);
    border: 1px solid var(--blockBorder);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.login_inputHolders {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.login_inputHolders p {
    font-size: 1.8em;
    color: var(--loginTitle);
    text-shadow: .1em .1em 10px rgb(179, 6, 176);
}

.login_inputHolders input {
    width: 92%;
    text-align: center;
    font-size: 1.5em;
    background-color: black;
    color:white;
    border: none;
    border-left: 3px solid var(--blockBorder);
    border-right: 3px solid var(--blockBorder);
    cursor: pointer;
    padding: .1vh 0;
}

.login_inputHolders input:hover {
    background-color: rgb(24, 24, 24);
}

.login_inputHolders input:active {
    border: 1px solid var(--blockBorder);
}

.login_submitHolder {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_submitHolder button {
    width: 70vw;
    height: auto;
    padding: 2vh 0;
    color: white;
    font-size: 1.3em;
    border: 1px solid var(--loginTitle);
    background-color: black;
}

.login_footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_footer footer {
    width: 90%;
    height: 10vh;
    background-color: var(--loginBlock);
    border: 1px solid var(--blockBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.login_footer footer p {
    color: white;
    font-size: 1.5em;
    font-family: var(--fancyFont);
    text-shadow: 0 0 20px var(--loginTitle);
}

/* || SHOW SECTION */
#showSection {
    width: 100vw;
    height: auto;
    display: none;
    flex-direction: column;
}

.firstSlide {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, white, rgb(255, 141, 215), black, rgb(101, 34, 76));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstSlide h1 {
    color: white;
    font-size: 2.9em;
    font-family: var(--fancyFont);
    -webkit-text-stroke: .5px var(--loginTitle);
    text-shadow: 0 0 10px var(--loginTitleShadow);
    padding-bottom: 5vh;
    width: 100%;
    text-align: center;
}

.description_holder {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 20px var(--loginTitleShadow);
    z-index: 2;
}

.description_holder h2 {
    color: var(--loginTitle);
    width: 95%;
    font-size: 1.5em;
    font-family: var(--fancyFont);
    padding: 2vh 0;
}

.description_holder p {
    color: var(--loginTitle);
    padding-bottom: 3vh;
    width: 95%;
}

.secondSlide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondSlide h1 {
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.642);
    padding: 3vh 0;
    font-size: 2.5em;
    font-family: var(--fancyFont);
    text-align: center;
    -webkit-text-stroke: .5px var(--loginTitle);
    text-shadow: 0 0 10px var(--loginTitleShadow);
}

.call_holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0;
    gap: 5vh;
}

.callBanner {
    width: 95%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.525);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.callBanner h2 {
    color: white;
    font-size: 1.2em;
    text-shadow: .1em .1em 0 var(--loginTitle);
}

.callBanner img {
    height: 80%;
    width: auto;
}

.thirdSlide {
    width: 100vw;
    height: 160vh;
    background-color: var(--slide3Bck);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.thirdSlide h1 {
    width: 100%;
    height: auto;
    padding: 1vh 0;
    font-size: 2.5em;
    color: white;
    font-family: var(--fancyFont);
    text-align: center;
    -webkit-text-stroke: .5px var(--loginTitle);
    text-shadow: 0 0 10px var(--loginTitleShadow);
}

.thirdSlide img {
    width: 70%;
    height: 40vh;
    object-fit: cover;
    box-shadow: 0 0 10px var(--loginTitle);
    border-radius: 20px;
}

.theQuestion {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.73);
}

.theQuestion h1 {
    width: 100%;
    height: auto;
    padding-bottom: 20vh;
    color: white;
    font-size: 2.5em;
    font-family: var(--fancyFont);
    text-align: center;
    -webkit-text-stroke: .5px var(--loginTitle);
    text-shadow: 0 0 10px var(--loginTitleShadow);
}

.theQuestion h3 {
    width: 100%;
    height: auto;
    padding: 3vh 0;
    color: white;
    font-size: 2em;
    font-family: var(--fancyFont);
    text-align: center;
    -webkit-text-stroke: .5px var(--loginTitle);
    text-shadow: 0 0 10px var(--loginTitleShadow);
}

.answerHolder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5vw;
}

.answerHolder a {
    width: 30%;
    background-color: pink;
    text-align: center;
    border-radius: 10px;
    padding: 2vw;
    font-size: 2em;
    transition: 0.2s ease;
    cursor: pointer;
}

.answerHolder a:hover {
    font-size: 2.2em;
}

#NOANSWER:active {
    background-color: red;
}


/* || YIPPI */
#YIPPI {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#YIPPI img {
    width: 100%;
    height: auto;
}